<launch>
	<arg name="run_as_sim" default="true" />
	<arg name="launch_gui" default="true" />
	<arg name="launch_rviz" default="true" />
	<arg name="model" default="$(find articulated)/urdf/articulated.urdf"/>

	<param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
	<rosparam command="load" file="$(find articulated)/config/articulated_mechanism.yaml" ns="articulated" />
	
	<node name="gui" pkg="articulated" type="articulated_control_gui.py" output="screen" if="$(arg launch_gui)"/>
	<node name="serial" pkg="articulated" type="stepper_com_node.py" output="screen" unless="$(arg run_as_sim)"/>
	<node name="pseudo_serial" pkg="articulated" type="pseudo_com.py" output="screen" if="$(arg run_as_sim)"/>
	<node name="stepper_client" pkg="articulated" type="stepper_driver_client" output="screen"/>
	<node name="tf_broadcaster" pkg="articulated" type="articulated_tf_broadcaster" output="screen"/>
	<node type="rviz" name="rviz" pkg="rviz" args="-d $(find articulated)/config/rviz_config.rviz" if="$(arg launch_rviz)" />
</launch>